
<% if current_user.present? %>
  <%= link_to 'Submit a new link', new_link_path %>
<% else %>
  <p class="text-warning">Please log in to post new links or sign up if you haven't created an account yet</p>
<% end %>